### loops

In [2]:
feq = [1,2,3,4,5]
for x in feq:
    print(x)

1
2
3
4
5

In [4]:
feq = [1,2,3,4,5]
for item in feq:
    print(item)

1
2
3
4
5

In [6]:
vegetable = ['potato','onion','cabbage','garlic']
for i in vegetable:
    print(i)

potato
onion
cabbage
garlic

In [8]:
num1=[1,2,3,4,5,6]
for x in num1:
    print(x,end='')

123456

In [12]:
x="456"
for char in x:
    print(char,end=' ')

4 5 6

In [14]:
for a in range(10):
    print(a,"hello")

0 hello
1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello

In [18]:
# print 1 to 10 natural numbers
for a in range(1,11):
    print(i,end=" ")

garlic garlic garlic garlic garlic garlic garlic garlic garlic garlic

In [20]:
# for loop to print all the numbers between 10 and 30 (both inclusive)
for x in range(11,31):
    print(x)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [22]:
#print even numbers in descending order from 1 to 100
for x in range(100,1,-2):
    print(x,end=' ')

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [24]:
# write a for loop to print all the odd numbers between 10 to 50.
for a in range(12,50,2):
    print (a)

12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [26]:
images = ['image1','image2','image3','image4']
for x in range(len(images)):
    print("image at index ",x," is: ",images[x])

image at index  0  is:  image1
image at index  1  is:  image2
image at index  2  is:  image3
image at index  3  is:  image4

In [28]:
# to print sum of n whole numbers

x=[1,2,3,4]
sum1=0 # intialization

for i in x:
    sum1=sum1+i

print("sum:",sum1)

sum: 10

In [32]:
# to print sum of n whole numbers
x=[1,2,3,4]
sum1 =0 # initialization
for i in x:
    sum1=sum1+i
    print("after",i,"iteration the sum:",sum1)

after 1 iteration the sum: 1
after 2 iteration the sum: 3
after 3 iteration the sum: 6
after 4 iteration the sum: 10

In [36]:
# program to iterate through a list using indexing
genre = ['pop','rock','jazz','ram']

# iterate over the list using index 
for a in range(1):
    print("I like",genre[a])

I like pop

In [46]:
# write a python program to get all the even numbers from 11 to 50 (inclusive)
lb=int(input('enter lower bound values:'))
ub=int(input('enter upper bound values:'))
for a in range(lb,ub+1):
    if a%2==0:
        print(a,end=',')

enter lower bound values: 10
enter upper bound values: 40

10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,

In [57]:
n=int(input("enter the number:"))
for i in range(n):
    print("*",end=" ")

enter the number: 5

* * * * *

In [63]:
# 4.python program sum of even numbers in between given range
lb=int(input())
ub=int(input())
s=0

for a in range(lb,ub+1):
    if (a%2==0):
        s=s+a
        print(a,end=' ')

print('\nsum is',s)

 4
 24

4 6 8 10 12 14 16 18 20 22 24
sum is 154

In [65]:
#write program that gives numbers between 1 to 100 which are divisible by 4
for num in range(1,101):
    if num%4 == 0 and num%7!=0:
        print(num)

4
8
12
16
20
24
32
36
40
44
48
52
60
64
68
72
76
80
88
92
96
100

In [67]:
#program to print multiple mathematical tables
a=int(input('enter multiplication table:'))
for i in range(1,11):
    print(a,'*',i,'=',a*i)

enter multiplication table: 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [1]:
n=int(input("enter the number:"))
for a in range(n):
    for k in range(n+1):
        print("*",end=" ")

enter the number: 5

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

### list comprehension

In [4]:
# without list comprehension
squares = []

for a in range(10):s
    squares.append(a**3)  #list append

print(squares)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [8]:
#using list comprehension
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
flims = ['rrr','puspa','kalki','bahubali','salar']
[len(flim) for flim in flims]

[3, 5, 5, 8, 5]

In [14]:
image2 = [-2,-4,-5,-8,3,5]
absv = [abs(a) for a in image2]
absv

[2, 4, 5, 8, 3, 5]

In [16]:
image2 = [-2,-4,-5,-8,3,5]
both = []
for i in image2:
    if i < 0:
        both.append(abs(i))
    else:
        both.append(i**3)

both

[2, 4, 5, 8, 27, 125]

In [18]:
[abs(i) if i<0 else i**3 for i in image2]

[2, 4, 5, 8, 27, 125]

### set comprehension

In [9]:
flims='RRR','KALKI','JAWAN','BAHUBALI','SALAR'
a=set()
for x in flims:
    a.add(len(x))
print(a)

{8, 3, 5}

### ENUMURATE

In [21]:
numbers=[1,2,3,4,5,6]
for num in numbers:
    if num == 4:
       break
print(num)

4

In [15]:
numbers=[1,2,3,4]
for num in numbers:
    if num == 4:
       print(num) 
       break 
       print(num)

4

In [23]:
numbers=[1,2,3,4,5,6]
for num in numbers:
    if num == 4:
       continue
print(num)

6

In [31]:
numbers=[1,2,3,4,5,6]
for num in numbers:
    if num == 4:
       continue
    print(num)

1
2
3
5
6

In [29]:
numbers=[1,2,3,4,5,6]
for num in numbers:
    if num == 4:
       continue
    print("This is the end one-",num)

This is the end one- 1
This is the end one- 2
This is the end one- 3
This is the end one- 5
This is the end one- 6

### While Loop

In [1]:
a=0
while a<=10:
    a=a+1
    print(a)

1
2
3
4
5
6
7
8
9
10
11

### fractorial number

In [4]:
# factorial of a number as user input
num = int(input("enter a number:"))
fact=1
if num<0:
   print("couldn't calculate factorial of a negative number")
elif num==0:
    print("you entered 0,please enter a number which is > 0")
else:
    for i in range(1,num+1):
        fact*=i
    print("the factorial of",num,"is",fact)96

enter a number: 4

the factorial of 4 is 24

In [6]:
divmod(6,4)

(1, 2)

In [24]:
def even_odd():
    a=int(input("enter the number"))
    if a%2==0:
       print("the number is even")
    else:
       print("the number is odd")

In [32]:
 even_odd()

enter the number 6

the number is even

In [7]:
def even_odd(): 
    """ Checking even or odd with no arguments"""
    a= int(input("Enter a number - "))
    b= int(input("Enter a number - "))
    s = a+b
    if s % 2 == 0:
        print("Even")
    else:
        print("Odd")

In [9]:
even_odd()

Enter a number -  5
Enter a number -  6

Odd

In [29]:
def fact():
    n=int(input("enter a number"))
    if n<=0:
        print("no result")
    elif n == 0:
        print("the factorial is 1")
    elif n>=1:
        fact = 1
        for i in range(1,n+1):
            fact = fact*i
        print("the factorial is=",fact)

In [31]:
fact()a

enter a number 5

the factorial is= 120

In [4]:
a=int(input("enter a number"))
b=int(input("enter a number"))

def addition(a):
    return a+b
    print("the summation of {} & {} is {}".format(a,b,add(a,b)))

enter a number 7
enter a number 8