In [3]:
print(5)

5

In [5]:
print("subham")

subham

In [9]:
print("akash  12!@#$%^&")

akash  12!@#$%^&

In [11]:
a=30
print(a)

30

In [13]:
mitu=20
print(mitu)

20

In [15]:
print("mitu")

mitu

In [17]:
a=10
b=20
c=30
d=40

print(a,b,c,d)

10 20 30 40

In [19]:
x=3
print(x)
type(x)

3

int

In [1]:
x='4'
print(x)
type(x)

4

str

In [5]:
# print function in python 3
a=10
b=20
c=a+b
print(c)

30

In [7]:
a=10
b=20
print(a+b)

30

In [9]:
print(20+30)

50

In [11]:
a=10
b=20
c=30
d=50
print(a,b,c,d)

10 20 30 50

In [15]:
a=10
b=20
c=30
d=40
print(a,b,c,d,sep=",")

10,20,30,40

In [17]:
a=10
print("the value of a:",a)

the value of a: 10

In [19]:
first_name='rama'
last_name='saI'

In [21]:
print("name",last_name,first_name)

name saI rama

In [23]:
print("my first name is:",first_name,"and last name is:",last_name)

my first name is: rama and last name is: saI

In [3]:
print("my first name is: {} and last name is: {}".format(first_name,last_name))

NameError: name 'first_name' is not defined

In [13]:
#we can use keyword arguments to format the string
print("my first name is: {first} and last name is: {first}".format(last=last_name,first=last_name))

NameError: name 'last_name' is not defined

In [17]:
print("hello {name} {greeting} {name}".format(name="satish", greeting="good morning"))

hello satish good morning satish

In [19]:
#we can combine positional arguments with keyword arguments
print('the story of {}, {}, and {other}'.format('bill','manfred',other='georg'))

the story of bill, manfred, and georg

In [1]:
num = 12
name = 'sam'
print('my number is : {one} and my name is: {two}'.format(one=num,two=name))
print('my number is : {} and my name is: {}'.format(num,name))
print("my number is :",num,"and my name is:",name)

my number is : 12 and my name is: sam
my number is : 12 and my name is: sam
my number is : 12 and my name is: sam

In [7]:
a=15
a # is a simple assignment operator that assigns the value 15 on the right to the variable 
a on the left.

SyntaxError: invalid syntax (2032398549.py, line 3)