In [9]:
a = int(input("enter the value of a: "))
b = int(input("enter the value of b: "))
add=a+b
sub=a-b
mul=a*b
div=a/b
mod=a%b
print("ADD:",add)
print("sum: {0}, Diff: {1}, Mult:{2}, Div:{3}, Mod: {4}".format(add,sub,mul,div,mod))

enter the value of a:  4
enter the value of b:  5

ADD: 9
sum: 9, Diff: -1, Mult:20, Div:0.8, Mod: 4

In [11]:
print("Sum: {}, Diff: {}, Mul:{}, Div:{}, Mod:{}".format(add,sub,mul,div,mod))

Sum: 9, Diff: -1, Mul:20, Div:0.8, Mod:4

In [13]:
print("sum: %d, diff: %d,mul: %d, div:%15.6f,mod:%d" % (add,sub,mul,div,mod))

sum: 9, diff: -1,mul: 20, div:       0.800000,mod:4

In [15]:
print('{0: <4} | {1:^4} | {2:^4} | {3:^4}'.format('sum','diff','mul','div'))
print('{0:<4} | {1:^4} | {2:^4} | {3:^4}'.format(add, sub, mul, div))

sum  | diff | mul  | div
9    |  -1  |  20  | 0.8

In [19]:
print('{0: <4} | {1:^4} | {2:^4} | {3:^4}'.format('sum','diff','mul','div'))
print('{0:<4} | {1:^4} | {2:^4} | {3:^4}'.format(add, sub, mul, div))

sum  | diff | mul  | div
9    |  -1  |  20  | 0.8

In [21]:
x="Master class"
print(f"welcome to python {a} !") #formatting string literials

welcome to python 4 !

In [25]:
s = input("enter a company name -")
v = input("enter the company of employees -")
print("the name of the company is and the number of employees are",s,v)

enter a company name - wipro
enter the company of employees - 4546

the name of the company is and the number of employees are wipro 4546

In [39]:
print("the name of the company is",s,"and the number of employees are",v)

the name of the company is wipro and the number of employees are 4546

In [53]:
print(f"the name of company is {s} and the number of employees are {v}")

the name of company is wipro and the number of employees are 4546

In [55]:
print("the name of company is {} and the number of employees are {} ".format(s,v))

the name of company is wipro and the number of employees are 4546